.main {
    max-width: 1000px;
    margin: auto;
  }

.projects {
  margin-bottom: 2rem;
}

  a {
    color: rgb(0, 0, 0);
  }

  .row {
    margin: 8px -16px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
.column {
  float:left;
  
}
  
  

  /* Content */
.content {
    background-color: white;
    padding: 10px;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 900px) {
    .column {
      width: 50%;
    }
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }