.row {
    margin: 8px -16px;
  }
  
  /* Add padding BETWEEN each column (if you want) */
  .row,
  .row > .column {
    padding: 8px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .wy-image {
    position: relative;
    left: 17%;
    border-radius: 35%;
}

p {
    font-family: 'Noto Sans KR', sans-serif;
}

@media screen and (min-width: 768px) and (max-width: 992px)   {
  .wy-image {
    position: relative;
    left: 5%;
    top: 10%;
    width: auto;
    
  }

  .main-content {
    margin-left: -5px;
  }

}

@media screen and (min-width: 992px) {
  .wy-image {
    position: relative;
    left: 15%;
    padding-right: 5px;
  }

  article {
    margin-top: 5%;
  }
}


@media screen and (max-width: 768px) {
  .wy-image {
    
   display: none;
   
  }

  .main-content {

    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
}

}


@media screen and (min-width: 900px) and (max-width: 992px){
  .main-content {
    margin-top: 20%;
  }
}


@media screen and (max-width: 900px) {
  .main-content {
    margin-top: 20%;
  }
}

@media screen and (min-width: 1200px) {
  .wy-image{
    margin-top: 5%;
  }
}