.navbar-brand {
    font-size: 42px;
    font-family:Verdana, Geneva, Tahoma, sans-serif
   
  }

  .wy-logo {
    font-size: 40px;
  }

  .wy-nav {
    padding: 10px;
    margin-bottom: 50px;
    border-bottom: 1px solid #819bc7;

}

.nav-link {
  font-size: 1.20rem;
}